* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
body {
  background: #ebf5fc;
}
.clock {
  color: #000;
  font-size: 56px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
h2 {
  color: #85c1e9;
  padding: 30px;
  font-size: 60px;
  font-weight: 800;
}
#m {
  margin: 0 10px 0 10px;
}
.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  background: inherit;
  position: relative;
  border-radius: 50%;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.bg:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  position: relative;
  margin-left: 20px;
  width: 4em;
  height: 4em;
  font-size: 16px;
  padding: 15px;
  border-radius: 50%;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.bg:last-child h2 {
  font-size: 1.4em;
  margin-top: 10px;
  font-weight: 600;
}
.svg-clock {
  padding: 2em;
}
.svg-clock img {
  opacity: 0.7;
  height: 100px;
}
.text-left {
  text-align: left;
}
